* {
	padding: 0; margin: 0; list-style: none; border: 0; text-decoration: none; font-family: 'Oxygen', sans-serif; font-size: 14px; line-height: 21px
}

.logo img {
max-width: 100%; 
display:block; 
height: auto;
}


.menu {
	font-family: 'Oxygen', sans-serif;
	overflow: hidden;
	background-color: #fa6585;
	border-bottom: 5px solid #4C6AA1;
}
.menu ul li {
	float: left
}
.menu ul li a {

	display: block;
	padding: 10px 20px;
	color: #fff;
	border-right: 1px solid #4C6AA1
}
.menu ul li a:hover {
	background-color: #4C6AA1
}
.openMenu {
	background-color: #fa6585;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	display: none
}


@media (max-width: 700px) {
	.openMenu { display: block }
	.menu ul { display: none }
	.menu ul li { float: none }
	.menu ul li a { border-right: none; border-bottom: 1px solid #555 }
}
@media (min-width: 700px){
	.menu ul { display: block!important }
}
		.footer {
			color: #999999;
	position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
		}
		
		.footer p {
			margin-left: 25%;
			margin-right:25%;
		}
		
		.footer a {
			margin-right:3px;
			float:right;
		}